<!-- Header -->
<header class="header">
    <div class="header_content d-flex flex-row align-items-center justify-content-start">
        <div class="logo">Linx<span>.</span>CV</div>
        <div class="main_nav d-flex flex-row align-items-end justify-content-start">
            <ul class="d-flex flex-row align-items-center justify-content-start">
                <li  <% if action_name=="about" %>class="active"<% end %> <% if action_name=="" %>class="active"<% end %>><a data-method="GET" href="/home/about">About</a></li>
                <li  <% if action_name=="skills" %>class="active"<% end %>><a data-method="GET" href="/home/skills">Skills</a></li>
                <li  <% if action_name=="services" %>class="active"<% end %>><a data-method="GET" href="/home/services">Services</a></li>
                <li  <% if action_name=="experience" %>class="active"<% end %>><a data-method="GET" href="/home/experience">Experience</a></li>
                <li  <% if action_name=="education" %>class="active"<% end %>><a data-method="GET" href="/home/education">Education</a></li>
                <li  <% if action_name=="portfolio" %>class="active"<% end %>><a data-method="GET" href="/home/portfolio">Portfolio</a></li>
                <li  <% if action_name=="testimonials" %>class="active"<% end %>><a data-method="GET" href="/home/testimonials">Testimonials</a></li>
                <li  <% if action_name=="contact" %>class="active"<% end %>><a data-method="GET" href="/home/contact">Contact</a></li>
            </ul>
            <div class="header_button ml-auto">
                <a data-method="GET" href="/assets/#">Available for freelance work</a>
                <div class="d-flex flex-column align-items-center justify-content-center"><img src="/assets/images/download.png" alt=""></div>
            </div>
        </div>
        <!-- Menu -->
        <div class="menu">
            <div class="menu_content d-flex flex-row align-items-start justify-content-end">
                <div class="hamburger ml-auto">menu</div>
                <div class="menu_nav text-right">
                    <ul>
                        <li  <% if action_name=="about" %>class="active"<% end %>><a data-method="GET" href="/home/about">About</a></li>
                        <li  <% if action_name=="skills" %>class="active"<% end %>><a data-method="GET" href="/home/skills">Skills</a></li>
                        <li  <% if action_name=="services" %>class="active"<% end %>><a data-method="GET" href="/home/services">Services</a></li>
                        <li  <% if action_name=="experience" %>class="active"<% end %>><a data-method="GET" href="/home/experience">Experience</a></li>
                        <li  <% if action_name=="education" %>class="active"<% end %>><a data-method="GET" href="/home/education">Education</a></li>
                        <li  <% if action_name=="portfolio" %>class="active"<% end %>><a data-method="GET" href="/home/portfolio">Portfolio</a></li>
                        <li  <% if action_name=="testimonials" %>class="active"<% end %>><a data-method="GET" href="/home/testimonials">Testimonials</a></li>
                        <li  <% if action_name=="contact" %>class="active"<% end %>><a data-method="GET" href="/home/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>