<!-- General Information -->
<div class="general_info d-flex flex-xl-column flex-md-row flex-column">
    <div>
        <div class="general_info_image">
            <div class="background_image" style="background-image:url(/assets/images/smith.jpg)"></div>
            <div class="header_button_2">
                <a href="javascript:;">for freelance work</a>
                <div class="d-flex flex-column align-items-center justify-content-center"><img src="/assets/images/download.png" alt=""></div>
            </div>
        </div>
    </div>
    <div class="general_info_content">
        <div class="general_info_content_inner mCustomScrollbar" data-mcs-theme="minimal-dark">
            <div class="general_info_title">General Information</div>
            <ul class="general_info_list">
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="/assets/images/icon_1.png" alt=""></div>
                    <div class="general_info_text">Name: <span>A.N. Tsimanarson Princy</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"></div>
                    <div class="general_info_text">Location: <span>Antananarivo Madagascar</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="/assets/images/icon_2.png" alt=""></div>
                    <div class="general_info_text">Date of Birth: <span>November 01, 1998</span></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="/assets/images/icon_3.png" alt=""></div>
                    <div class="general_info_text"><a href="mailto:plinsy2@gmail.com?subject=Job Inquiry" target="_blank">plinsy2@gmail.com</a></div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="/assets/images/icon_4.png" alt=""></div>
                    <div class="general_info_text">+261 34 77 393 05</div>
                </li>
                <li class="d-flex flex-row align-items-center justify-content-start">
                    <div class="general_info_icon d-flex flex-column align-items-start justify-content-center"><img src="/assets/images/icon_5.png" alt=""></div>
                    <div class="general_info_text"><a href="https://plinsylm.herokuapp.com" target="_blank">https://plinsylm.herokuapp.com</a></div>
                </li>
            </ul>
            <!-- Social -->
            <div class="social_container">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a href="javascript:;" class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:;" class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:;" class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="javascript:;" class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>